#root {
  width: 100%;
}
 header, main {
  display: flex;
  justify-content: center;
}

header {
  background-color: lightgray;
  gap: 1rem;
    padding: 1rem;
    align-items: center;
}

header nav {
   width: 60%;  
   display: flex;
   justify-content: center;
 }

 header div {
  width: 20%;
 }

 .site-name {
  font-size: 2.4rem;
 }

 .contact {
  display: flex;
  justify-content: flex-end;
 }

 nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
 }

 nav ul li a.active {
  border-bottom: 3px solid #646cff;
 }

 .home {
  display: flex;
    flex-direction: column;
    align-items: center;
 }

 .animal {
  padding: 1.5rem;
  border: 1px solid lightgrey;
  margin: 1rem;
 }

 .single-animal {
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;;
 }

 .single-animal button {
  background-color: orange;
 }
 .single-animal button[disabled] {
  cursor: no-drop;
  background-color: lightgrey;
  border: grey;
 }

 .long-description {
  text-align: center;
    margin: 2rem;
 }

 .img-error-text {
  margin: 0;
    font-style: italic;
    font-size: 0.8rem;
 }

 .error-page {
  display: flex;
  justify-content: center;
 }

 .animals {
  display: flex;
    flex-direction: column;
    align-items: center;
 }

 .short-description {
  max-width: 300px;
 }

 .feed-message {
  font-weight: 700;
  color: red;
  margin-bottom: 0.6rem;
 }
